python-jobspy
PyPDF2
assemblyai
langchain
langchain_groq
langchain_community
langchain_huggingface
chromadb
langsmith
langgraph
duckduckgo-search
pypdf
langchain_google_genai
sentence-transformers
langchain_google_community
peft==0.5.0
streamlit
ipython
faiss-cpu